<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DavidLazo-DBP</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>

</head>
<body>
    <div align="center" width="80%">
        <div class="alert alert-info" role="alert">
          CS2B01 - Platform-Based Development
        </div>
        <img class="img" src="/static/images/meme.jpg" width="557" height="287"/>
        <div class="alert alert-dark" role="alert">
            MyCode:201810010 --- MyName: David Alejandro Lazo Pampa
        </div>
        <div><a href="/User">User I have read-</a><a href="/create_user">-Create test Usuario</a></div>
    </div>
</body>
</html>

